<div class="about-wrapper">

  <div class="about-image">
    {{ page.about.moderncreative_aboutusimage }}
  </div>

  <div class="about-content">
    {{ page.about.moderncreative_aboutus }}
  </div>

</div>