{{ attach_library('moderncreative/header') }}

<header class="main-header">
  <div class="header-container">

    <div class="logo">
      {{ page.header }}
    </div>

    <div class="menu">
      <div class="menu-inner">
        {{ page.primary_menu }}
      </div>
    </div>

  </div>
</header>